*{
    /* box-sizing: border-box; */
  }
  body{
    /* margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
  }

  .tm-header{
      height: 50px;
      padding: 4px;
      background: rgb(109, 92, 109);
  }
  .slideshow{
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: black;
  }
  .slide{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 1;
    font-size: 100px;
    font-family: 'Staatliches', cursive;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.3);
  }
  .slide:nth-of-type(1){
    background: rgb(0,175,175);
  }
  .slide:nth-of-type(2){
    background: rgb(255,100,100);
  }
  .slide:nth-of-type(3){
    background: rgb(0,100,220);
  }
 
  .active-slide{
    z-index: 10;
    display: flex;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.5);
    animation: slideIn 1s cubic-bezier(0.7, 0, 0.3, 1) 0s 1 forwards;
  }
  .prev-slide{
    display: flex;
  }
  .dot-cont{
    position: absolute;
    z-index: 11;
    bottom: 5px;
    width: 100px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
  }
  .dot{
    margin: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255,255,255,0.5);
  }
  .dot:hover{
    cursor: pointer;
    background: white;
  }
  .active-dot{ 
    background: rgba(255,255,255,0.9);
    animation: fadeIn 1s cubic-bezier(0.7, 0, 0.3, 1) 0s 1 forwards;
  }
  .arrow-button{
    position: absolute;
    z-index: 11;
    background: rgba(0,0,0,0.5);
    border: none;
    outline: none;
    cursor: pointer;
    color: rgba(255,255,255,0.5);
    font-size: 20px;
    font-weight: bold;
  }
  .arrow-button:hover{
    color: rgba(255,255,255,1);
  }
  .left-arrow{
    left: 0;
  }
  .right-arrow{
    right: 0;
  }
  
  
  
  @keyframes slideIn{
    0%{
      transform: translate(-100vw, 0);
    }
    100%{
      transform: translate(0, 0);
    }
  }
  @keyframes fadeIn{
    0%{
      background: rgba(255,255,255,0.5);
    }
    100%{
      background: rgba(255,255,255,0.9);
    }
  }

  .tm-cards{
      padding: 40px;
      background-color: lightgray;
      width: 100%;
  }